:root {
  --white: #ffffff;
  --svms_light_red: #D0585B;
  --svms_red: #BD171B;
  --svms_med_dark_red: #a00305;
  --svms_dark_red: #6E0406;
  --svms_blue: #242333;
  --svms_med_dark_blue: #1d1c29;
  --svms_light_blue: #7d7c8d;
  --svms_light_blue2: #6A6977;
  --svms_btn_light_gray: #e4e4e4;
  --svms_btn_light_gray_txt: #c5c5c5;
  --svms_text_gray: #a1a1a1;
  --svms_input_txt: #66615B;
  --svms_txt_gray: #c4c4c4;
  --svms_light_card: #f1f1f1;
  --svms_success: #51CBCE;
  --svms_green: #6bd098;
  --svms_dark_green: #339B62;

  --svms_gray_bg: #e7e7e7;
  --svms_gray_bg_hover: #dddddd;
}

/* login page */
.login_bg{
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 100vh !important;
}
.login_img_logo{
  height: 80px;
  width: auto !important;
  display: block !important;
  margin: 0 auto;
}
.login_title_txt{
  color: var(--svms_blue) !important;
  text-transform: none !important;
  font-size: 18px !important;
  display: block !important;
  font-weight: normal !important;
  margin-top: 10px !important;
}
.paswrd_inpt_fld i.fa-eye{
  /* margin-left: -30px !important; */
  position: absolute;
  cursor: pointer !important;
  right: 15px;
  top: 12px;
  z-index: 100;
  color: var(--svms_input_txt);
}
.frgtPwd_button{
  margin: 0 !important;
  color: var(--svms_txt_gray);
  text-decoration: none !important;
}
.frgtPwd_button:hover{
  color: var(--svms_input_txt);
}
/* login page end */

/* registration page */
.full-page .registration_content{
  padding-top: 11vh !important;
}
.register_img_logo{
  height: 80px;
  width: auto !important;
  display: block !important;
  margin: 0;
}
.registration_title_txt{
  color: var(--svms_blue) !important;
  text-transform: none !important;
  font-size: 14px !important;
  display: block !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}
.custom_nav_link_blue{
  color: var(--svms_blue);
}
.custom_nav_link_blue:hover{
  color: var(--svms_blue);
  background-color: #F4F4F5;
}
.nav-pills .custom_nav_link_blue.active,
.nav-pills .show > .custom_nav_link_blue {
    color: var(--white) !important;
    background-color: var(--svms_blue) !important;
}
.custom_nav_link_red,
.custom_nav_link_red:hover{
  color: var(--svms_blue);
}
.nav-pills .custom_nav_link_red.active,
.nav-pills .show > .custom_nav_link_red {
    color: var(--white) !important;
    background-color: var(--svms_red) !important;
}
.custom_nav_link_green{
  color: var(--svms_green);
}
.custom_nav_link_green:hover{
  color: var(--svms_green);
  background-color: #F4F4F5;
}
.nav-pills .custom_nav_link_green.active,
.nav-pills .show > .custom_nav_link_green {
    color: var(--white) !important;
    background-color: var(--svms_green) !important;
}
/* registration page end */

/* custom card-bodies */
.cust_card_body_ligth_bg {
  padding: 15px 15px 10px 15px !important;
  background-color: var(--svms_light_card) !important;
}
/* custom card-bodies end */

/* hover button show icon */
.btn_show_icon{
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}
/* show on right */
.btn_icon_show_right{
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   padding-left: 0;
   margin-left: -13px;
}
.btn_show_icon:hover .btn_icon_show_right {
  opacity: 1;
  padding-left: 10px;
  margin-left: 1px;
  transition: padding 0.3s margin 0.3s;
}
/* show on left */
.btn_icon_show_left{
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   padding-right: 0;
   margin-right: -13px;
}
.btn_show_icon:hover .btn_icon_show_left {
  opacity: 1;
  padding-right: 10px;
  margin-right: 1px;
  transition: padding 0.3s margin 0.3s;
}
/* hover button show icon end */

/* buttons */
/* btn_svms_red */
.btn_svms_red {
  background-color: var(--svms_red);
  color: var(--white);
}
.btn_svms_red:hover,
.btn_svms_red:focus,
.btn_svms_red:active,
.btn_svms_red.active,
.btn_svms_red:active:focus,
.btn_svms_red:active:hover,
.btn_svms_red.active:focus,
.btn_svms_red.active:hover,
.show>.btn_svms_red.dropdown-toggle,
.show>.btn_svms_red.dropdown-toggle:focus,
.show>.btn_svms_red.dropdown-toggle:hover {
  background-color: var(--svms_med_dark_red) !important;
  color: var(--white) !important;
  box-shadow: none !important;
}
.btn_svms_red:not([data-action]):hover {
  box-shadow: none;
}
.btn_svms_red.disabled,
.btn_svms_red.disabled:hover,
.btn_svms_red.disabled:focus,
.btn_svms_red.disabled.focus,
.btn_svms_red.disabled:active,
.btn_svms_red.disabled.active,
.btn_svms_red:disabled,
.btn_svms_red:disabled:hover,
.btn_svms_red:disabled:focus,
.btn_svms_red:disabled.focus,
.btn_svms_red:disabled:active,
.btn_svms_red:disabled.active,
.btn_svms_red[disabled],
.btn_svms_red[disabled]:hover,
.btn_svms_red[disabled]:focus,
.btn_svms_red[disabled].focus,
.btn_svms_red[disabled]:active,
.btn_svms_red[disabled].active,
fieldset[disabled] .btn_svms_red,
fieldset[disabled] .btn_svms_red:hover,
fieldset[disabled] .btn_svms_red:focus,
fieldset[disabled] .btn_svms_red.focus,
fieldset[disabled] .btn_svms_red:active,
fieldset[disabled] .btn_svms_red.active {
  background-color: var(--svms_red);
  border-color: var(--svms_red);
}
.btn_svms_red.btn-simple {
  color: var(--svms_red);
  border-color: var(--svms_red);
}
.btn_svms_red.btn-simple:hover,
.btn_svms_red.btn-simple:focus,
.btn_svms_red.btn-simple:active {
  background-color: transparent;
  color: var(--svms_med_dark_red);
  border-color: var(--svms_med_dark_red);
  box-shadow: none;
}
.btn_svms_red.btn-link {
  color: var(--svms_red);
}
.btn_svms_red.btn-link:hover,
.btn_svms_red.btn-link:focus,
.btn_svms_red.btn-link:active,
.btn_svms_red.btn-link:active:focus {
  background-color: transparent;
  color: var(--svms_med_dark_red);
  text-decoration: none;
  box-shadow: none;
}
.btn-neutral.btn_svms_red {
  color: var(--svms_red) !important;
}
.btn-neutral.btn_svms_red:hover,
.btn-neutral.btn_svms_red:focus,
.btn-neutral.btn_svms_red:active,
.btn-neutral.btn_svms_red:active:focus {
  color: var(--svms_med_dark_red) !important;
}
/* btn_smvs_blue */
.btn_svms_blue {
  background-color: var(--svms_blue);
  color: var(--white);
}
.btn_svms_blue:hover,
.btn_svms_blue:focus,
.btn_svms_blue:active,
.btn_svms_blue.active,
.btn_svms_blue:active:focus,
.btn_svms_blue:active:hover,
.btn_svms_blue.active:focus,
.btn_svms_blue.active:hover,
.show>.btn_svms_blue.dropdown-toggle,
.show>.btn_svms_blue.dropdown-toggle:focus,
.show>.btn_svms_blue.dropdown-toggle:hover {
  background-color: var(--svms_med_dark_blue) !important;
  color: var(--white) !important;
  box-shadow: none !important;
}
.btn_svms_blue:not([data-action]):hover {
  box-shadow: none;
}
.btn_svms_blue.disabled,
.btn_svms_blue.disabled:hover,
.btn_svms_blue.disabled:focus,
.btn_svms_blue.disabled.focus,
.btn_svms_blue.disabled:active,
.btn_svms_blue.disabled.active,
.btn_svms_blue:disabled,
.btn_svms_blue:disabled:hover,
.btn_svms_blue:disabled:focus,
.btn_svms_blue:disabled.focus,
.btn_svms_blue:disabled:active,
.btn_svms_blue:disabled.active,
.btn_svms_blue[disabled],
.btn_svms_blue[disabled]:hover,
.btn_svms_blue[disabled]:focus,
.btn_svms_blue[disabled].focus,
.btn_svms_blue[disabled]:active,
.btn_svms_blue[disabled].active,
fieldset[disabled] .btn_svms_blue,
fieldset[disabled] .btn_svms_blue:hover,
fieldset[disabled] .btn_svms_blue:focus,
fieldset[disabled] .btn_svms_blue.focus,
fieldset[disabled] .btn_svms_blue:active,
fieldset[disabled] .btn_svms_blue.active {
  background-color: var(--svms_blue);
  border-color: var(--svms_blue);
}
.btn_svms_blue.btn-simple {
  color: var(--svms_blue);
  border-color: var(--svms_blue);
}
.btn_svms_blue.btn-simple:hover,
.btn_svms_blue.btn-simple:focus,
.btn_svms_blue.btn-simple:active {
  background-color: transparent;
  color: var(--svms_med_dark_blue);
  border-color: var(--svms_med_dark_blue);
  box-shadow: none;
}
.btn_svms_blue.btn-link {
  color: var(--svms_blue);
}
.btn_svms_blue.btn-link:hover,
.btn_svms_blue.btn-link:focus,
.btn_svms_blue.btn-link:active,
.btn_svms_blue.btn-link:active:focus {
  background-color: transparent;
  color: var(--svms_med_dark_blue);
  text-decoration: none;
  box-shadow: none;
}
.btn-neutral.btn_svms_blue {
  color: var(--svms_blue) !important;
}
.btn-neutral.btn_svms_blue:hover,
.btn-neutral.btn_svms_blue:focus,
.btn-neutral.btn_svms_blue:active,
.btn-neutral.btn_svms_blue:active:focus {
  color: var(--svms_med_dark_blue) !important;
}
/* buttons end */

/* cusotom display information with icon */
.cust_info_txtwicon{
  display: block;
  font-size: 13px !important;
  font-weight: normal;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_light_blue); 
  align-items: center !important;
}

/* cursor customizations */
.cursor_pointer{
  cursor: pointer !important;
}

/* table customizations */
.w35prcnt{
  width: 35%;
}

/* padding customizations */
.p12{
  padding: 12px !important;
}

/* margin customizations */
.my15br15{
  margin: 15px 0px !important;
  border-radius: 15px !important;
}

/* modal customizations */
.cust_modal{
  border-radius: 15px;
  border: 0 none !important;
  overflow: hidden !important;
}
.cust_modal_title{
  font-size: 16px !important;
  color: var(--svms_blue);
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase !important;
  margin: 0;
}
.cust_close_modal_btn:hover,
.cust_close_modal_btn:focus,
.cust_close_modal_btn:active,
.cust_close_modal_btn:active:focus {
  outline: none !important;
  background-color: #faf9ff !important;
}
.cust_modal_body_gray{
  padding: 16px !important;
  background-color: #e7e7e7 !important;
}

/* global card customization */
.cb_p15x25{
  padding: 15px 25px !important;
}
.cb_pt15{
  padding-top: 15px !important;
}
.cb_pb15{
  padding-bottom: 15px !important;
}
.cb_px25{
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.cb_t0b15x25{
  padding: 0px 25px 15px 25px !important;
}
.cb_t0b12y20{
  padding: 0px 20px 12px 20px !important;
}
/* border-radius */
.card_gbr{
  border-radius: 15px !important;
}
/* overflow:hidden */
.card_ofh{
  overflow: hidden !important;
}
/* gray card-body */
.card_body_bg_gray{
  background-color: #e7e7e7 !important;
}
.card_body_title{
  display: block;
  font-size: 25px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: var(--svms_blue);
}
.card_body_subtitle{
  display: block;
  font-size: 16px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_light_blue);
}
.sec_card_body_title{
  display: block;
  font-size: 20px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: var(--svms_blue);
}
.sec_card_body_subtitle{
  display: block;
  font-size: 14px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_light_blue);
}

/* light blue card body */
.lightBlue_cardBody{
  display: block;
  line-height: 1.5 !important;
  background-color: #F4F4F5 !important;
  color: var(--svms_blue);
  padding: 12px 15px !important;
  border-radius: 12px !important;
  margin: 0;
}
.lightBlue_cardBody_blueTitle{
  display: block;
  font-size: 12px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: var(--svms_blue);
  margin: 0 0 5px 0;
}
.grayed_txt{
  color: var(--svms_light_blue2) !important;
}
.lightBlue_cardBody_listCount{
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: bold !important;
  color: var(--svms_blue);
  margin: 0;
}
.lightBlue_cardBody_list{
  display: block;
  font-size: 14px;
  text-transform: none !important;
  font-weight: normal !important;
  color: var(--svms_light_blue2);
  margin: 0;
  align-items: center !important;
}
.lightBlue_cardBody_notice{
  display: block;
  font-size: 13px !important;
  text-transform: none !important;
  font-weight: normal;
  font-style: normal;
  color: var(--svms_light_blue);
  margin: 0;
}
/* light green card body */
.lightGreen_cardBody{
  display: block;
  line-height: 1.5 !important;
  background-color: #F0FAF5 !important;
  color: var(--svms_dark_green);
  padding: 12px 15px !important;
  border-radius: 12px !important;
  margin: 0;
}
.lightGreen_cardBody_greenTitle{
  display: block;
  font-size: 12px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: var(--svms_dark_green);
  margin: 0 0 5px 0;
}
.lightGreen_cardBody_listCount{
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: bold !important;
  color: var(--svms_dark_green);
  margin: 0;
}
.lightGreen_cardBody_list{
  display: block;
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: var(--svms_dark_green);
  margin: 0;
}
.lightGreen_cardBody_chckboxLabel{
  display: block;
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: var(--svms_dark_green) !important;
  margin: 0 !important;
  padding: 3px 0 0 0 !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out;
}
.lightGreen_cardBody_chckboxLabel:hover{
  color: #195333 !important;
  font-weight: bold !important;
}
.lightGreen_cardBody_notice{
  display: block;
  font-size: 13px !important;
  text-transform: none !important;
  font-weight: normal;
  font-style: normal;
  color: #6CB88E !important;
  margin: 0;
}
/* light red card body */
.lightRed_cardBody{
  display: block;
  line-height: 1.5 !important;
  background-color: #FBF1F1 !important;
  color: var(--svms_red);
  padding: 12px 15px !important;
  border-radius: 12px !important;
  margin: 0;
}
.lightRed_cardBody_redTitle{
  display: block;
  font-size: 12px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: var(--svms_red);
  margin: 0 0 5px 0;
}
.lightRed_cardBody_listCount{
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: bold !important;
  color: var(--svms_red);
  margin: 0;
}
.lightRed_cardBody_list{
  display: block;
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: var(--svms_red);
  margin: 0;
}
.lightRed_cardBody_notice{
  display: block;
  font-size: 13px !important;
  text-transform: none !important;
  font-weight: normal;
  font-style: normal;
  color: var(--svms_light_red);
  margin: 0;
}
.lightRed_cardBody_chckboxLabel{
  display: block;
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: var(--svms_red) !important;
  margin: 0 !important;
  padding: 3px 0 0 0 !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out;
}
.lightRed_cardBody_chckboxLabel:hover{
  color: var(--svms_med_dark_red) !important;
  font-weight: bold !important;
}



/* directory link */
.directory_link{
  font-size: 12px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: #b1afbd !important;
}
.directory_link:hover{
  color: var(--svms_blue) !important;
}

/* page intro card */
.card_intro{
  display: flex;
  padding: 0 !important;
  line-height: 1.5;
  height: auto;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.page_intro{
  position: relative;
  margin-top: 10px;
  margin-left: 25px;
  width: 800px;
}
.page_intro_title{
  display: block;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--svms_blue);
}
.page_intro_subtitle{
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  color: var(--svms_light_blue);
}
.page_illustration{
  position: relative;
  right: 0;
  height: auto;
  width: auto;
  float: right !important;
  border-bottom-right-radius: 15px !important;
}
.illustration_svg{
  margin-top: -67px !important;
  height: 290px;
  width: auto;
  border-bottom-right-radius: 15px !important;
}

/* text customization */
.text_svms_red,
a.text_svms_red:focus,
a.text_svms_red:hover {
  color: var(--svms_red) !important;
}
.text_svms_blue,
a.text_svms_blue:focus,
a.text_svms_blue:hover {
  color: var(--svms_blue) !important;
}

/* inputs customizations */
.input-group-prepend .is_invalid{
  border-right: none !important;
  border-color: var(--svms_red) !important;
  color: var(--svms_red) !important;
}
.input-group-text .is_invalid{
  border-right: none !important;
  border-color: var(--svms_red) !important;
  color: var(--svms_red) !important;
}

/* .custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545;
} */

/* custom table */
.cust_table{
  border-radius: 15px;
  overflow: hidden;
}
.thead_svms_blue{
  background-color: var(--svms_blue);
  color: var(--white);
}
.tbody_svms_white{
  background-color: var(--white);
  color: var(--svms_blue);
}

/* custom status title */
.cust_status_title{
  display: block;
  font-size: 13px;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: var(--svms_light_blue);
  align-items: center;
}
.cust_info_icon{
  font-size: 14px !important;
  align-self: center !important;
  margin: 0;
  cursor: pointer;
}

/* profile page */
.nav_link_svms_blue{
  background-color: var(--svms_blue) !important;
  color: var(--white) !important;
}
.up_img_div{
  text-decoration: none !important;
  color:  var(--svms_blue);
}
.up_img:hover{
  text-decoration: none !important;
  color:  var(--svms_blue);
}
.up_user_image{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid var(--svms_blue);
  position: relative;
  object-fit: cover !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
.up_stud_user_image{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid var(--svms_green);
  position: relative;
  object-fit: cover !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
.up_fullname_txt{
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  color:  var(--svms_blue);
  font-weight: bold;
}
.up_role_txt{
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: var(--svms_light_blue);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.cat_title_txt{
  display: block;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--svms_light_blue);
  margin-bottom: 0;
}
.up_info_txt{
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: var(--svms_light_blue);
  margin-bottom: 15px;
  align-items: center !important;
}
.up_info_txt i{
  position: relative;
  top: 1px;
  right: 1px;
}
.active_stat{
  color: #28a745 !important;
  font-weight: bold;
}
.nactive_stat{
  color: var(--svms_red) !important;
  font-weight: bold;
}

.user_image_upload_input_div{
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: var(--white);
  top: 95px;
  right: 140px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 16px;
  padding: 13px 15px;
  cursor: pointer;
  z-index: 2;
}
.stud_imgUpload{
  background-color: var(--svms_green);
}
.emp_imgUpload{
  background-color: var(--svms_blue);
}
.user_image_upload_input_div:hover{
  box-shadow: none;
}
.file_upload_input{
  display: none !important;
}

/* custom collapse buttons */
.custom_btn_collapse{
  line-height: 1.5;
  background-color: transparent;
  padding: 15px 25px;
  text-transform: none;
  text-align: left !important;
}
.custom_btn_collapse:hover{
  background-color: var(--svms_gray_bg_hover) !important;
}
.custom_btn_collapse:focus,
.custom_btn_collapse:active,
.custom_btn_collapse:active:focus {
  background-color: var(--svms_gray_bg) !important;
}
.custom_btn_collapse_icon{
  display: block !important;
  font-size: 16px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_light_blue) !important;
}
.cust_accordion_div{
  border-radius: 15px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}
.custom_accordion_card{
  border-bottom: 1px solid #F8F9FA !important;
  margin: 0;
  transition: all 0.2s;
}
.custom2_btn_collapse{
  line-height: 1.5;
  background-color: transparent;
  padding: 15px 25px;
  text-transform: none;
  text-align: left !important;
  margin: 0 !important;
  border-radius: 15px;
}
.custom2_btn_collapse:hover{
  background-color: #F8F9FA !important;
  overflow: hidden;
}
.custom2_btn_collapse:focus,
.custom2_btn_collapse:active,
.custom2_btn_collapse:active:focus {
  background-color: #ffffff !important;
}
.custom2_btn_collapse_icon{
  display: block !important;
  font-size: 12px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_light_blue) !important;
}
.accordion_title{
  display: block;
  font-size: 15px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: var(--svms_blue);
}
.accordion_subtitle{
  display: block;
  font-size: 13px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_light_blue);
}
.accordion_title_gray{
  display: block;
  font-size: 15px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: var(--svms_text_gray);
}
.accordion_subtitle_gray{
  display: block;
  font-size: 13px !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: normal !important;
  color: var(--svms_text_gray);
}


/* user management page */
#registeredUsers_listGroup{
  border-radius: 15px;
  overflow: hidden;
  border: 0 !important;
}

/* system roles */
.roleStatusToggleIcon{
  font-size: 20px;
  margin: 0 0 -3px 0;
  padding: 0;
  cursor: pointer;
  color: var(--svms_blue) !important;
}

/* custom user image display */
.display_user_image_div{
  display: block;
  margin: 0 !important;
}
.display_user_image{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  object-fit: cover !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
.empImg_border{
  border: 3px solid var(--svms_blue);
}
.studImg_border{
  border: 3px solid var(--svms_green);
}
.grayImg_border{
  border: 3px solid var(--svms_text_gray);
  filter: grayscale(100%) !important;
}

/* custom list-group-item */
.cust_list_group_item{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: default !important;
  color: var(--svms_blue);
  align-items: center !important;
  border: 0 none !important;
}
.cust_list_group_item:hover{
  background-color: #F8F9FA !important;
}
.cust_list_group_item:focus,
.cust_list_group_item:active,
.cust_list_group_item:active:focus {
  background-color: #F8F9FA !important;
  outline: none !important;
}
.cust_list_group_item:hover .li_options_div{
  right: 15px;
}
.information_div{
  margin-left: 10px;
  line-height: 1.5 !important;
  text-align: left !important;
}
.li_info_title{
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: var(--svms_blue);
}
.li_info_subtitle{
  display: block;
  font-size: 13px;
  font-weight: normal;
  color: var(--svms_light_blue);
}
.li_info_title_gray{
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: var(--svms_text_gray);
}
.li_info_subtitle_gray{
  display: block;
  font-size: 13px;
  font-weight: normal;
  color: var(--svms_text_gray);
}

/* hover slide from right options */
.li_options_div{
  display: inline-block;
  position: absolute !important;
  right: -100px;
  z-index: 99;
  transition: 0.3s ease-in-out;
}
.cust_btn_smcircle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 13px;
  margin: 0;
  padding: 0;
  background-color: #F8F9FA;
  color: var(--svms_btn_light_gray_txt)
}
.cust_btn_smcircle:hover{
  background-color: #f2f2f3 !important;
  color: var(--svms_input_txt) !important;
}
.cust_btn_smcircle:focus,
.cust_btn_smcircle:active,
.cust_btn_smcircle:active:focus {
  background-color: #f2f2f3 !important;
  color: var(--svms_input_txt) !important;
}

/* custom no data found */
.no_data_found_div{
  display: block;
  margin: 0;
  padding: 20px 25px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--svms_gray_bg_hover);
}
.no_data_found_txt{
  display: block;
  color: var(--svms_light_blue);
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}