/* @media (max-width: 4000px) {
    .modal-lg {
        max-width: 1200px;
    }
}

@media (max-width: 1920px) {
    .modal-lg {
        max-width: 1200px;
    }
}

@media (max-width: 1300px) {
    .modal-lg {
        max-width: 1000px;
    }
}

@media (max-width: 1000px) {
    .modal-lg {
        max-width: 900px;
    }
}

@media (max-width: 999px) {
    .modal-lg {
        max-width: 800px;
    }
}

@media (max-width: 899px) {
    .modal-lg {
        max-width: 800px;
    }
}

@media (max-width: 799px) {
    .modal-lg {
        max-width: 700px;
    }
}

@media (max-width: 699px) {
    .modal-lg {
        max-width: 600px;
    }
}

@media (max-width: 599px) {
    .modal-lg {
        max-width: 580px;
    }
} */